@charset "UTF-8";
/* 
    Em HTML é id, em CSS é # 
    Em HTML é class, em CSS é . 
*/


body{
    background-color:#57A2F7
}

h1{
    color:#25466B
}

h1#principal{
    text-align: center;
    background-color:#25466B;
    color: white;
}

h2{
    color:#3C70AB
}

.basico{
    color:#3C70AB
}

.intermediario{
    color:#aba93c
}

.avancado{
    color:#ab3c3c
}